# Ignore environment files
.env
server/.env
client/.env

# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Build/dist folders the remaining files are needed for development but not for production
dist/
build/

